{% extends "index.html" %} {% load static %} {% block content %}

<!-- Modal Search Start -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input
            type="search"
            class="form-control p-3"
            placeholder="keywords"
            aria-describedby="search-icon-1"
          />
          <span id="search-icon-1" class="input-group-text p-3"
            ><i class="fa fa-search"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Search End -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Confirm Password login here</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Confirm Password</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Contact Start -->
<div class="container-fluid contact py-5">
  <div class="container py-5">
    <div class=" lgn_bg p-5 bg-light rounded">
      <div class="row g-4">
        <div class="col-12"></div>

        <div class="col-lg-7" style="margin-left: 210px">
          <form action="{% url 'confirm_password' %}" method="POST">
            {% csrf_token %}
            <h2>{{emsg}}</h2>
            <input  type="email" name="email" placeholder="Email" value="{{email}}">
            <input
              type="number"
              class="lgn_bg w-100 form-control border-0 py-3 mb-4"
              placeholder="Enter Your OTP"
              name="otp"
            />
            <input
              type="password"
              class="lgn_bg w-100 form-control border-0 py-3 mb-4"
              placeholder="Enter Your Password"
              name="new_password"
            />
            <input
              type="password"
              class="lgn_bg w-100 form-control border-0 py-3 mb-4"
              placeholder="Enter Confirm Password"
              name="confirm_password"
            />
            <center>
            <button 
              class="lgn_bg center-button w-50 btn form-control border-secondary py-3 bg-white text-primary" 
              type="button" 
              onclick="window.location.href='{% url 'login' %}'"
            >
              Login
            </button>
            
             
            </center>
            {% comment %} <a href="{% url 'forget' %}" style="font-size: 14px"
              >Forgot password?</a
            ><br />
            <a href="{% url 'register' %}" style="font-size: 14px"
              >Register here</a
            > {% endcomment %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
<p>OTP sent to {{ email }}</p>
<form method="post" action="{% url 'confirm_otp' %}">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ email }}">
    <input type="number" name="otp" placeholder="Enter OTP" required>
    <button type="submit">Confirm OTP</button>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
</form>


{% endblock %}
